tiled
*~
*.pyc
result.log
*.swp
.settings
install
build_ev_*
build_EV*
build_native_*
build_nu4000*
.project
.cproject
.settings
blobs
hs_err_pid*log
cnn_obj
# Junk files that Tom often uses.
1
2
3
4
5
x
typescript
*.tar
*.pdb
*.bin
.sc.project
*.log
*log.txt
cnn_src
.idea
*.json
!*verification.json
!exceptions.json
!verification/benchmark_targets/*.json
diagnostics.md
diagnostics.txt
report.txt
report.md
coefpack.lib
coefpack.pyd
run_arc.args
*.caffemodel

# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out
*.dat
test.txt
tmp*/
venv
